/*global*/
body{
    background-image: url("http://localhost/resources/images/pinkwavepattern.jpg");
    background-color: #262626;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}

div{
    background-color: #303030a0;
    border-style: solid;
    border-color: #ffffff40;
    margin: auto;
    padding-inline: 10px;
}
div.top-banner{
    position: absolute;
    top: 0; left: 0;
    background-color: #303030;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
div.content{
    border-style: solid;
    border-color: #00000000;
    background-color: #00000000;
    width: 90%;
    padding-top:70px;
    overflow: scroll;
    height: 90vh;
}