/*global*/
body{
    background-image: url("http://localhost/resources/images/pinkwavepattern.jpg");
    background-color: #262626;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}

div{
    background-color: #303030a0;
    border-style: solid;
    border-color: #ffffff40;
    margin: auto;
    padding-inline: 10px;
}
div.top-banner{
    position: absolute;
    background-color: #303030;
    text-align: left;
}
div.content{
    border-style: solid;
    border-color: #00000000;
    background-color: #00000000;
    width: 90%;

}

/*links*/
a.top-banner-link{
    color:#87cefa;
    padding: 0px 5px;
}
